<!DOCTYPE html>
<html lang = "ru">
<head>
    <%- include('../layout/head'); -%>

	<title><%- locals.SEO.title %></title>
	<meta name = "description" content = "<%- locals.SEO.description %>">

	<link rel="preload" as="image" href="/img/pie.svg">
    <link rel = "stylesheet" href = "/css/pages/index.css">
</head>
<body>

    <%- include('../layout/header'); -%>

    <main>

		<section class = "container banner">

			<div class = "banner-hero">
				<h1 class = "banner-title">
					ЦМ Крафт
				</h1>
				<p class = "banner-subtitle">
					Ванильный сервер
				</p>
				<nobr class = "banner-caption">
					 Без доната · Без приватов · Без грифа
				</nobr>
			</div>

			<div class = "banner-season">
				<% 
					const start = locals.minecraft.season.start 
					const now = new Date()

					const dateFormat = {
						month: 'long', 
						day: 'numeric',
					}
					if (now.getFullYear() > start.getFullYear()) {
						dateFormat.year === 'long'
					}
					
					const formattedStart = new Intl.DateTimeFormat('ru-RU', dateFormat).format(start)
				%>

				<!-- Текущий сезон -->
				<% if (start.getTime() < now.getTime() && locals.minecraft.season.number % 1 === 0) { %>
					<% if (start.getDate() === 2) { %>
						Со
					<% } else { %>
						С
					<% } %>
					<%- formattedStart %> 
					идёт <b><%- locals.minecraft.season.number %></b> сезон

				<!-- Межсезонье -->
				<% } else if (locals.minecraft.season.number % 1 !== 0) { %>
					<b><%- Math.floor(locals.minecraft.season.number) %></b> сезон — всё. Идёт межсезонье.		
				
				<!-- Анонс -->
				<% } else if (start.getTime() > now.getTime()) { %>
					<b><%- locals.minecraft.season.number %></b> сезон начнётся <b><%- formattedStart %></b>
				<% } %>

			</div>

		</section>

		<section class = "container info">

			<div class="info-block main">
				<h2>Полная ванилла</h2>
				<p>
					На нашем проекте отсутствуют любые неванильные механики, в том числе и приваты.
					Тем не менее, гриферство у нас запрещено.
				</p>
				<p>
					Всё основано исключительно на самоорганизации игроков, 
					соблюдении простых <a href = "/rules">правил</a> и взаимном доверии. При этом 
					в случае конфликта или нарушения прав вы всегда можете обратиться к любому
					администратору.
				</p>
				<p>
					С каждой новой крупной версией игры (примерно каждый год) у нас проводится вайп.
					Как правило, вайп идёт пару недель, и в это время проходит «межсезонье» — временно
					создаётся необычный мир, где немного меняются правила и механики.
				</p>
			</div>

			<div class="info-block secondary">
				<h2>Как начать играть?</h2>
				<p>
					Нужно заполнить <a href>короткую анкету.</a> В течение 1-2 дней
					её проверят и, скорее всего, одобрят. Для посторонних сервер закрыт — это 
					нужно для того, чтобы отсеять гриферов и ботов.
				</p>
				<p>
					Регистрация на нашем сервере всегда была и будет бесплатной, а аккаунты
					никогда не удаляются.
				</p>
				<p>
					Также стоит вступить в наш <a href = "https://discord.com/invite/MPfPsXabjK">дискорд,</a>
					где мы общаемся, выкладываем новости и оповещаем об ивентах.
				</p>
			</div>

			<div class="info-block tertiary-1">
				<div style = "font-size: 6em; line-height: 1;">
					150
				</div>
				<p>анкет каждый месяц</p>
			</div>

			<div class="info-block tertiary-2">
				<div style = "font-size: 6em; line-height: 1;">
					34
				</div>
				<p>клана на сервере</p>
			</div>

		</section>

	</main>

	<%- include('../layout/footer'); -%>
    
</body>
</html>