<!DOCTYPE html>
<html lang = "ru">
<head>
    <%- include('../layout/head'); -%>

	<title><%- locals.SEO.title %></title>
	<meta name = "description" content = "<%- locals.SEO.description %>">

    <link rel = "stylesheet" href = "/css/pages/index.css">
</head>
<body>

    <%- include('../layout/header'); -%>

    <main>

		<section class = "container banner">

			<div class = "banner-hero">
				<h1 class = "banner-title">
					ЦМ Крафт
				</h1>
				<p class = "banner-subtitle">
					Ванильный сервер
				</p>
				<nobr class = "banner-caption">
					 Без доната · Без приватов · Без грифа
				</nobr>
			</div>

		</section>

	</main>

	<%- include('../layout/footer'); -%>
    
</body>
</html>