<!DOCTYPE html>
<html lang = "ru">
<head>
    <%- include('../layout/head'); -%>
</head>
<body>

    <%- include('../layout/header'); -%>

	<style>.read p { font-size: 90%; }</style>

	<% const url = req.url.replaceAll('/', '') %>

    <main>

		<section class = "container indent read <%- url %>">
			
			<%- text %>

		</section>

	</main>

	<%- include('../layout/footer'); -%>
    
</body>
</html>